<div class="container">
  <div class="row mb-3">
    <div class="col-md-12 d-flex align-items-center" >
      <h1>
        <%= @the_board.name %>
      </h1>
      <div class="ms-auto">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add new post</button>
      </div>

       <!-- Modal --->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">New post</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/insert_post" method="post">
                    <div class="mb-3">

                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="query_title" id="title" class="form-control">
                    </div>
                    <div class="mb-3">

                    <label for="body" class="form-label">Body</label>
                    <textarea name="query_body" id="body" rows="3" class="form-control"></textarea>
                    </div>

                    <div class="mb-3">

                    <label for="expires_on" class="form-label">Expires on</label>
                    <input type="date" name="query_expires_on" id="expires_on" class="form-control">
                    </div>
                  </form>
                  <div class="d-grid">

                  <button class="btn btn-primary">Add post</button>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>

    </div>

  </div>
  <ul class="nav nav-tabs nav-fill mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Active posts (<%= Post.all.where({ :expires_on => (Time.current...) }).order(:expires_on).count%>)</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Expired posts (<%= Post.all.where.not({ :expires_on => (Time.current...) }).order({ :expires_on => :desc }).count%>)</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!-- Active Posts -->
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

      <div class="row row-cols-1 row-cols-md-4">
        <% @active_posts.each do |a_post|%>
          <div class="col mb-4">
            <div class="card">
              <div class="card-header">
                <h1 class="h6 my-1"><%= a_post.title %></h1>
                <div>Expires on <%= a_post.expires_on.strftime("%b %e, %Y") %></div>
              </div>
              <div class="card-body"><%= a_post.body %></div>
              <div class="card-footer">Posted on <%= a_post.created_at.strftime("%b %e, %Y") %></div>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <!-- Expired Posts -->
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="row">
        <div class="col-md-12">

          <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
              <tbody>
                <tr>
                  <th>Title</th>
                  <th>Body</th>
                  <th>Posted on</th>
                  <th>Expired on</th>
                </tr>
                <% @expired_posts.each do |a_post|%>
                  <tr>
                    <td><%= a_post.title %></td>
                    <td><%= a_post.body %></td>
                    <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
                    <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
                  </tr>
                <% end %>
              </tbody>

            </table>

          </div>
        </div>
      </div>

    </div>

  </div>
